<!---
Todo: Ad checkboxes for exporting data.    
    
    
-->
@model IEnumerable<Ad>
@{ }
<h1>Ads Submitted</h1>

<table class="table">
    <thead>
        <tr>
            <th>Date Submitted</th>
            <th>MLS Number</th>
            <th>Street</th>
            <th>City</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ad in Model)
        {
            <tr>
                <td scope="row">@ad.DateSubmitted</td>
                <td>@ad.MLSNumber</td>
                <td>@ad.Street</td>
                <td>@ad.City</td>
                <td>@ad.Price</td>
            </tr>
        }
    </tbody>
</table>
