@model DetailViewModel
@{}


@{AppUser user = await UserManager.GetUserAsync(User); string firstName = user.FirstName; var id = await UserManager.GetUserIdAsync(user); }
<div class="container">
    <h2>@Model.ClassTitle</h2>

    <h4>Date and Time</h4>
    <p>@Model.Date at @Model.Time</p>
    <h4>Class Description</h4>
    <p>@Model.Description</p>
    <h4>Instructor</h4>
    <p>@Model.Instructor</p>
    <h4>Spots Left</h4>
    <p>@Model.SpotsLeft</p>

    <a class="btn btn-primary" asp-controller="CEClass" asp-action="Classes">Go back to all classes</a>

    @if (User.IsInRole("Admin"))
    {
        <h4>Agents Currently Enrolled</h4>
        <table>
            <thead>
                <tr>
                    <th>Agent Name</th>
                    <th>Agent Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model.RegisteredAgents)
                {
                    <tr>
                        <td>@r.FirstName @r.LastName</td>
                        <td>@r.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>