@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model ICollection<OpenHouse>
@{ ViewData["Title"] = "Open Houses";}

<div class="container mt-3">
    <h1>Ads Submitted</h1>

    @if (!Model.Any())
    {
        <p>Currently, no ads have been submitted.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Date Submitted</th>
                    <th>MLS Number</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>Day</th>
                    <th>Time Open</th>
                    <th>Price</th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th>Agent Name</th>
                        <th>Agent Office</th>
                    }
                </tr>
            </thead>

            <tbody>
                @if (User.IsInRole("Admin"))
                {
                    @foreach (var openHouse in Model)
                    {
                        <tr>
                            <td scope="row">@openHouse.DateSubmitted</td>
                            <td>@openHouse.MLSNumber</td>
                            <td>@openHouse.Street</td>
                            <td>@openHouse.City</td>
                            <td>@openHouse.Day</td>
                            <td>@openHouse.TimeOpen</td>
                            <td>@openHouse.AppUser.FirstName @openHouse.AppUser.LastName</td>
                            <td>@openHouse.AppUser.Office</td>
                        </tr>
                    }
                }
                else
                {

                    @foreach (var openHouse in Model)
                    {
                        <tr>
                            <td scope="row">@openHouse.DateSubmitted</td>
                            <td>@openHouse.MLSNumber</td>
                            <td>@openHouse.Street</td>
                            <td>@openHouse.City</td>
                            <td>@openHouse.Price</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    </div>