@model IList<AppUser>
@{ ViewData["Title"] = "Agents";}
<h1>All Users</h1>

<table class="table">
    <thead>
        <tr>
            <th><a asp-controller="Account" asp-action="Agents" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a></th>
            <th><a asp-controller="Account" asp-action="Agents" asp-route-sortOrder="@ViewData["EmailSortParm"]">Email</a></th>
            <th><a asp-controller="Account" asp-action="Agents" asp-route-sortOrder="@ViewData["OfficeSortParm"]">Office</a></th>
            @if (Context.User.IsInRole("Admin"))
            {
                <th>Edit</th>

            }
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td scope="row"><a asp-controller="Account" asp-action="Detail" asp-route-id="@user.Id">@user.FirstName @user.LastName</a></td>
                <td>@user.Email</td>
                <td>@user.Office</td>
                @if (Context.User.IsInRole("Admin"))
                {
                    <td><a asp-controller="Account" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a></td>
                }
            </tr>
        }
    </tbody>
</table>
