@model UserViewModel

<h1>User Detail</h1>

<h2>Name: @Model.FirstName @Model.LastName</h2>
<h2>Email: @Model.Email</h2>
<h2>Office: @Model.Office</h2>
<h2>Role: @Model.Role</h2>

@if (@Context.User.IsInRole("Admin"))
{
    <a asp-controller="Account" asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-primary">Edit</a>
}